@font-face {
    font-weight: 400;
    font-family: Monserrat;
    src: url(/fonts/montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-weight: 700;
    font-family: Monserrat;
    src: url(/fonts/montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-weight: 300;
    font-family: Monserrat;
    src: url(/fonts/montserrat/static/Montserrat-Light.ttf);
}

:root {
    --blue: #083C8B;
    --dark-color: #333333;
    --white: #ffffff;
    --white-blue: #2761b8;
    --gray-line: rgba(34, 60, 80, 0.2);
    --gray-light: #b3b3b3;
}

body {
    max-width: 1920px;
    font-size: 14px;
    margin: 0 auto;
    font-family: Monserrat, Arial, sans-serif;
    color: var(--dark-color)
}

header {
    padding: 5px 0;
}

button {
    font-family: Monserrat, Arial, sans-serif;
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    border: var(--blue);
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

h3 {
    margin: 0;
}

.container {
    padding: 0 25px;
}

.container-40 {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 40px;
}

.navigation {
    color: var(--dark-color);
    font-family: Monserrat, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    list-style-type: none;
    transition: 0.3s;
}

.menu__item:hover {
    color: var(--white-blue);
    transition: 0.3s;
}

.burger__icon {
    background-image: url(../Image/icons/menu-burger.svg);
    background-repeat: no-repeat;
    stroke: var(--dark-color);
}

.menu {
    display: flex;
    gap: 30px;
}

ul {
    padding-inline-start: inherit;
}

.phone__svg {
    background-image: url(../Image/icons/phone1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.phone__block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone__time {
    font-size: 12px;
    line-height: 16px;
    color: var(--blue);
    transition: 0.3s;
}

.phone__time:hover {
    color: var(--dark-color);
    transition: 0.3s;
}

.phone__block {
    font-size: 16px;
    line-height: 20px;
}

.phone__number {
    text-decoration: none;
    color: inherit;
}

.icons__search {
    background-image: url(../Image/icons/211818_search_icon.svg);
}

.icons__search:hover {
    fill: var(--blue);
    stroke: var(--blue);
}

.icons__profile {
    background-image: url(../Image/icons/4781818_account_avatar_face_man_people_icon.svg);
}

.basket__icon {
    background-image: url(../Image/icons/basket.svg);
}

.icons {
    display: flex;
    gap: 30px;
}

.photo-block {
    font-family: Monserrat, Arial, sans-serif;
    display: grid;
    grid-template-columns: 70% 30%;
}

.photo-block__image {
    background-image: url(../Image/image/main-photo.jpg);
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
    min-height: 500px;
    background-position: center;
}

.photo-block__image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.photo-block__image::before:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.photo-block__title {
    font-size: 36px;
    line-height: 40px;
}

.photo-block__text li {
    font-size: 16px;
    line-height: 22px;
}

button:hover {
    background-color: var(--white-blue);
    transition: 0.3s;
}

.photo-block__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 5;
}

.photo-block__main {
    position: relative;
    color: var(--white);
}

.photo-block__right:nth-child(1) {
    background-image: url(../Image/image/53.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 10px;
}

.photo-block__right:nth-child(1)::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.photo-block__co-main {
    display: grid;
    grid-template-rows: 50% 50%;
}

.photo-block__content-small {
    position: absolute;
    bottom: 10%;
    color: var(--white);
    z-index: 5;
}

.photo-block__right:nth-child(2) {
    background-image: url(../Image/image/kosmetologicheskoe-oborudovanie-.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 10px;
}

.photo-block__right:nth-child(2)::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.photo-block__right::after:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.photo-block__subtext {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 18px;
    width: 150px;
}

.cards {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 50px 40px;
}

.cards__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    padding: 0 15px;
}

.cards__img {
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    padding: 0;
}

.cards__block:nth-of-type(1) .cards__img {
    background-image: url(../Image/image/basket-blue.svg);
}

.cards__title {
    font-size: 18px;
    line-height: 22px;
}

.cards__text {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards__block:nth-of-type(2) .cards__img {
    background-image: url(../Image/icons/stocks-icon.svg);
}

.cards__block:nth-of-type(3) .cards__img {
    background-image: url(../Image/icons/quality_icon.svg);
}

.cards__block:nth-of-type(4) .cards__img {
    background-image: url(../Image/icons/globus_world_icon.svg);
}

.products {
    border-top: 1px solid var(--gray-line);
    padding: 50px 0;
}

.products__title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.products__link {
    text-transform: uppercase;
    font-size: 12px;
}

.products__cards {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.products__card {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 10px 10px 10px;
}

.products__name {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products__cards-hover {
    border: 0.5px solid var(--gray-line);
}

.products__cards-hover:hover {
    border: 0.5px solid var(--white);
    -webkit-box-shadow: 4px 4px 8px 9px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 9px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 9px rgba(34, 60, 80, 0.2);
}

.our-prod__title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
}

.row__right {
    display: flex;
    gap: 30px;
}

.row__catalog {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
}

.products__link:hover {
    color: var(--white-blue);
}

.our-prod {
    padding: 50px 0;
    border-top: 1px solid var(--gray-line);
    display: flex;
    flex-direction: column;
}

a .our-prod__card {
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 20px 10px;
    border: 1px solid rgba(34, 60, 80, 0.2);
}

a .our-prod__card:hover {
    border: 0.5px solid var(--white);
    -webkit-box-shadow: 4px 4px 8px 9px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 9px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 9px rgba(34, 60, 80, 0.2);
}

.our-prod__images {
    position: relative;
    width: 270px;
    height: 270px;
}

.our-prod__tags {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
}

.grid-card-270 {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    gap: 15px;
    margin: 0 auto;
}

.our-prod__tag {
    background-color: yellow;
    padding: 2px 5px;
    border-radius: 3px;
    color: var(--dark-color);
}

.our-prod__tag--green {
    background-color: green;
    color: var(--white);
}

.our-prod__images img {
    margin: 0 auto;
}

.our-prod__presence {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
}

.our-prod__prices {
    display: flex;
    gap: 15px;
    align-items: center;
}

.our-prod__price {
    font-weight: 700;
    font-size: 16px;
}

.our-prod__price--crossed {
    font-size: 12px;
    text-decoration: line-through;
    color: gray;
}

.our-prod__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company {
    background: rgb(122, 141, 170);
    background: linear-gradient(90deg, rgba(122, 141, 170, 1) 10%, rgba(155, 184, 207, 1) 36%, rgba(175, 217, 226, 1) 77%);
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 20px 40px;
    height: 300px;
}

.company__sheet p:nth-of-type(1) {
    text-transform: uppercase;
    font-size: 12px;
}

.company__sheet {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
}

.company__sheet img {
    width: 300px;
    margin: 0 auto;
}

.team__title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
}

.team__link {
    text-transform: uppercase;
    font-size: 12px;
}

footer {
    background-color: #2f3338;
    color: var(--white);
    padding: 40px;
}

.footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
}

.footer__title {
    text-transform: uppercase;
    font-weight: 700;
}

.footer__flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.footer__left {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

.footer__link li {
    list-style-type: none;
    width: 300px;
    color: var(--gray-light);
    transition: 0.3s;
}

.footer__link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.phone__footer {
    background-image: url(../Image/icons/phone-svgrepo-com.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer__number {
    font-size: 20px;
    line-height: 24px;
}

.footer__mini {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--gray-light);
    margin-left: 35px;
}

.footer__email {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__icon {
    background-image: url(../Image/icons/email-svgrepo-com.svg);
    background-size: contain;
}

.footer__white {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
}

li a:hover {
    color: var(--white);
    transition: 0.3s;
}